#st__rent-dates-input{
  width: 442px;
  box-sizing: border-box;
  padding: 16px 0 16px 16px;
  border: none;
  border-radius: 8px;
  background: #F7F7F7;
}
.flight-by-route__seat-ticket .passengers{
  margin-left: 30px;
  width: 206px;
}