.flight-by-route__row{
  display: flex;
  height: 56px;
}
.change-locations{
  border: none;
  background: none;
  margin: 8px 0 8px 486px;
  align-self: flex-start;
}
.flight-by-route__chart-button{
  margin: 0 30px;
  border: none;
  padding: 18px;
  background: #F7F7F7;
}
.flight-by-route__rent-dates{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 442px;
  padding: 16px 19px 16px 16px;
  border: none;
  border-radius: 8px;
  background: white;
}
.flight-by-route__rent-dates input{
  width: 380px;
  border: none;
  background: inherit;
}

.flight-by-route__calendar{
  border: none;
  background: none;
}
#plane-type-selection{
  margin-left: 30px;
}
.flight-by-route__selection{
  width: 206px;
  padding-left: 16px;
  border: none;
  border-radius: 8px;
  font-weight: 400;
  appearance: none;
  overflow: hidden;
  background: url(../../../images/home/menu/flight-by-route/select-dropdown.svg)
   no-repeat 175px,#F7F7F7;
   box-sizing: border-box;
}
.flight-by-route__footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 45px 0 15px;
}
.flight-by-route__cr-filters{
  margin-top: 30px;
  display: none;
}
.flight-by-route__multiway{
  display: none;
}
.flight-by-route__cr-filters._shown,
.flight-by-route__multiway._shown{
  display: block;
}
.flight-by-route__cr-add-destination{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: rgba(37, 77, 155, 1);
  width: 166px;
  border: none;
}
.flight-by-route__cr-add-destination._hidden{
  display: none;
}
.flight-by-route__cr-passengers.passengers{
  margin-left: 30px;
  width: 248px;
}