.wrapper._main{
  display: block;
}
.main__content-categories._active{
  display: flex;
}
.main__content-categories{
  display: none;
}
.main__content-categories>div{
  margin-top: 40px;
  margin-left: 30px;
  width: 1030px;
  display: none;
}