.wrapper._main{
  display: block;
}
.main__section{
  margin-top: 40px;
  margin-left: 30px;
  max-width: 1030px;
}
.main__content-default_active,
.main__charter-rent_active{
  display: flex;
}
.main__content-default_disabled,
.main__charter-rent_disabled{
  display: none;
}
.main__content-default_active{
  flex-direction: column;
  align-items: center;
}
.content-default__header,
.content-default__popular-destinations-header{
  margin-top: 80px;
  text-align: center;
  width: 920px;
}
.content-default__header-subtitle,
.content-default__popular-destinations-subtitle{
  margin-top: 30px;
  margin-bottom: 54px;
  line-height: 25.6px;
  color: #929395;
}
.content-default__planes-image{
  width: 1440px;
  height: 670px;
  position: relative;
  z-index: -1;
}
.content-default__planes-image img{
  position: absolute;
  z-index: -1;
}
/* Types of Vehicles */
.content-default__vehicle-types{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-default__vehicle-types-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 920px;
  margin-top: 40px;
  padding: 20px 30px;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
              0px 16px 24px rgba(0, 0, 0, 0.04),
              0px 4px 8px rgba(0, 0, 0, 0.04),
              0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}
.content-default__vehicle-types-item{
  width: 156px;
  height: 150px;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  background: white;
  margin: 10px 0;
}
.content-default__vehicle-types-content h4{
  font-family: 'Noto Sans JP';
  line-height: 23.17px;
  font-weight: 400;
  margin-bottom: 10px;
  max-width: 60%;
}
.content-default__vehicle-types-item button{ 
  display: flex;
  width: 156px;
  height: 100%;
  background: rgb(255, 255, 255, 0.5);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
}
.content-default__vehicle-types-item img{
  margin-top: 30px;
}
.content-default__vehicle-types-item a{
  text-decoration: underline;
  font-weight: 500;
  color: #2F80ED;
}
.content-default__vehicle-types-item-description{
  display: none;
  width: 508px;
  height: 150px;
  background: #FBFBFB;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
              0px 16px 24px rgba(0, 0, 0, 0.04), 
              0px 4px 8px rgba(0, 0, 0, 0.04), 
              0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding-left: 156px;
}
.content-default__vehicle-types-item-description h5{
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #9A9A9A;
  padding: 15px 20px;
}
/* Types button activated */
.content-default__vehicle-types-item._active{
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 8px;
  display: flex;
}
.content-default__vehicle-types-item._active button{
  border: none;
  background: white;
  position: relative;
  z-index: 3;
}
.content-default__vehicle-types-item._active 
.content-default__vehicle-types-item-description{
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
/* Popular destinations */
.content-default__popular-destinations{
  margin-top: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-default__popular-destinations-subtitle{
  margin-bottom: 0;
}

.content-default__popular-destinations-content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 920px;
  margin-top: 25px;
}
.content-default__popular-destinations-item{
  width: 205px;
  margin: 15px 0;
  padding: 20px;
  text-align: center;
  border: 1px solid rgba(224, 224, 224, 0.5);
  border-radius: 8px;
}
.content-default__popular-destinations-item img{
  width: 165px;
  height: 125px;
  margin-bottom: 20px;
}
.content-default__employee{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 675px;
  text-align: center;
  background: #FFFFFF;
  border-radius: 8px;
  margin-top: 160px;
  padding: 40px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06),
              0px 2px 6px rgba(0, 0, 0, 0.04),
              0px 0px 1px rgba(0, 0, 0, 0.04)
}
.content-default__employee-title{
  margin: 30px auto;
}
.content-default__employee-subtitle{
  line-height: 25.6px;
  color: rgba(146, 147, 149, 1);
}
#content-default__employee-button{
  margin: 0;
  width: 205px;
  height: 56px;
  padding: 16px 36px;
  margin: 40px auto;
}
