.flight-by-route{
  padding: 30px;
  display: none;
}
.flight-by-route.flight-by-route_active{
  display: block;
}
.flight-by-route__radio{
  display: flex;
  margin-bottom: 30px;
}
.flight-by-route__radio-item{
  display: flex;
  align-items: center;
}
.flight-by-route__radio-item:first-child{
  margin-right: 60px;
}
.flight-by-route__radio-item input{
  height: 20px;
  width: 20px;
}
.flight-by-route__radio-item label{
  line-height: 27px;
  margin-left: 8px;
}
.flight-by-route__charter-rent._active{
  display: block;
}
.flight-by-route__charter-rent._disabled{
  display: none;
}
.flight-by-route__seat-ticket._active{
  display: block;
  position: relative;
}
.flight-by-route__seat-ticket._disabled{
  display: none;
}

