#st__rent-dates-input{
  width: 206px;
  box-sizing: border-box;
  padding: 16px 0 16px 16px;
  border: none;
  border-radius: 8px;
  background: #F7F7F7;
  }
#st__passengers-selection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  width: 206px;
  box-sizing: border-box;
  line-height: 23.17px;
  padding: 16px;
  border-radius: 8px;
  background: #F7F7F7;
}

/* Popup styles */
#st__passengers-popup{
  display: none;
  max-width: 440px;
  position: absolute;
  bottom: -91px;
  right: -30px;
  border-radius: 16px;
  background: white;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 100px 20px;
}

#st__passengers-popup._called{
  display: block;
}
.st__popup-top-decorating-element{
  width: 24px;
  height: 24px;
  position: absolute;
  top: -12px;
  right: 50px;
}
.st__popup-top-decorating-element div{
  width: 100%;
  height: 100%;
  background: white;
  transform: rotate(45deg);
}
.st__popup-row{
  margin-bottom: 30px;
  width: 380px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.st__popup-text{
  display: flex;
  flex-direction: column;
  max-height: 40px;
}
.st__popup-text h4{
  line-height: 23px;
}
.st__popup-text span{
  line-height: 17px;
  font-size: 12px;
  color: #9A9A9A;
}
.st__popup-interractions{
  display: flex;
}
.st__popup-minus{
  background: white;
  border: 1px solid #9A9A9A;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.st__popup-minus img{
  margin: 19px auto;
}
.st__popup-input{
  padding-left: 16px;
  width: 60px;
  height: 40px;
  box-sizing: border-box;
  margin: 0 16px;
  border: 1px solid rgba(224, 224, 224, 0.5);
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
.st__popup-plus{
  background: white;
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.st__popup-plus img{
  margin:  7px auto;
}
.st__popup-footer{
  position: absolute;
  bottom: -65px;
  right: 0;
  width: 440px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: white;
  border-top: 1px solid rgba(224, 224, 224, 0.5);
  border-radius: 0 0 16px 16px;
}
.st__popup-footer-actions{
  display: flex;
  align-items: center;
}
.st__popup-footer-actions button{
  border: none;
  background: none;
  color: #254D9B;
  width: 20px;
  height: 20px;
}
.st__popup-footer-actions button:first-child{
  margin-right: 20px;
}
.st__popup-footer-actions img{
  width: 20px;
  height: 20px;
}

.st__popup-footer>button{
  padding: 16px 71px;
  height: 56px;
  box-sizing: border-box;
  font-size: 16px;
  background: #FCE036;
  border: none;
}